https://www.youtube.com/watch?v=g2gV6dTVNw4https://www.youtube.com/watch?v=g2gV6dTVNw4
body {
    color: black;
    backgroud: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    header {
        border-bottom: solid 2px rgb(42, 122, 228);
        padding: 40px;
        font-size: 32px;
        color: rgb(42, 122, 228);
    }
section{
    background: rgb(114,114,228);
padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.call-text{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;

    img {
        height: 200px;
    }
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
    




    
